@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;

    --lightgreen: #606C38;
    --forestgreen: #283618;
    --beige: #fefae0;
    --lightbrown: #dda15e;
    --darkbrown: #bc6c25;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url(../src\assets\WoodBoard2.jpg);
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
  }
}

.main-container {
  @apply flex flex-col;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 430%;
  color: var(--forestgreen);
  font-weight: 700;
  margin-top: 3.8%;
  margin-bottom: 1.5%;
}

.preview-card {
  background-color: var(--beige);
  padding: 0px 1.75%;
  border-radius: 10%;
  max-width: 20%;
  max-height: 20%;
}

.preview-card h2{
  font-weight: 500;
  font-size: 125%;
  max-width: 100%;
  text-wrap: wrap;
}

.thumbnail {
  max-width: 100%;
  max-height: 100%;
  padding: 0%;
  margin: 0%;
}

.thumbnail img {
  padding: 0px 20px;
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 20%;
  max-width: 150%;
  max-height: 150%;
}

.preview-button {
  margin: 2% auto;
}

.RecipeCard {
  font-family: 'Times New Roman', Times, serif;
  width: fit-content;
  height: auto;
  min-width: 20%;
  max-width: 40%;
  max-height: 80%;
  background-color: var(--beige);
  border: 2px solid var(--lightgreen);
  border-radius: 7%;
  text-align: left;
  padding: 1.5% 2% 1.5%;

  margin-top: 3%;
  margin-left: 7%;
}

.recipe-name {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 170%;
  font-weight: 500;
  border-bottom: 2px solid black;
  text-align: center;
  width: auto;
  max-width: 80%;
  margin: 0% auto;
}

.lists {
  font-size: 90%;
  font-style: italic;
  align-content: center;
  display: flex;
  flex-direction: row;
  margin: 5% auto;
}

.measurements {
  margin: auto;
  margin-right: 1%;
}

.ingredients {
  margin: auto;
  margin-left: 1%;
}

.instructions {
  margin: auto;
  text-align: center;
  max-width: 90%;
}

.searchResults {
  width: 100%;
  margin: 2.5% auto;
}